* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(150, 150, 150, 0.2);
  }

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 20px rgb(162, 162, 162);
    position: sticky;
    color: #210043;
}

h2 {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    padding-left: 2rem;
}

.nav-list {
    padding-top: 1rem;
    display: flex;
    list-style-type: none;
}

.nav-list a {
    text-decoration: none;
    color: #210043;
}

.nav-list li {
    padding: 0.5rem;
}

.nav-list li:hover {
    padding: 0 1rem;
    border-bottom: 3px solid #FF0079;

}

.nav-buttons {
    display: flex;
    list-style-type: none;
    padding-top: 1rem;
}

.first-li {
    display: none;
}



.nav-buttons li {
    margin:0 0.5rem;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
    padding: 0.5rem;
    color: #210043;
}

.nav-buttons li:hover {
    background-color: #FF0079;
    color: white;
    cursor: pointer;
}

.main-img {
    width: 100%;
    height: 20rem;
    background-image: url(./images/sweetBg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 40% bottom 40%;
  
}

.main-text {
    padding: 6rem;
    color: #210043;
}

span {
    color: #FF0079;
}

.shop-now {
    background-color: #FF0079;
    width: fit-content;
    padding: 0.5rem;
    border: 2px solid #210043;
    border-radius: 5px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    width: 80rem;
    margin: auto;
  }

.donut-card {
    margin: 0.5rem;
    padding: 2rem;
    width: 20rem;
    background-color: #dbfdf3;
    border-radius: 3px;
    text-align: center;
    font-size: 1.2rem;
    color: #210043;
    border: 1px solid rgb(218, 218, 218);
    box-shadow: 1px 1px 3px 1px rgb(212, 212, 212);
  
  }

img {
      width: 80%;
  }
  
h3 {
    margin: 0.5rem;
  }

.read-button {
    font-size: 1rem;
    background-color: #FF0079;
    width: fit-content;
    padding: 0.5rem;
    border: 2px solid #210043;
    border-radius: 5px;
    margin: auto;
}

.donut-card-big {
    margin: 0.5rem;
    padding: 2rem;
    width: 30rem;
    background-color: #dbfdf3;
    border-radius: 3px;
    text-align: center;
    font-size: 1.2rem;
    color: #210043;
    border: 1px solid rgb(218, 218, 218);
    box-shadow: 1px 1px 3px 1px rgb(212, 212, 212);
}

p {
    margin: 1rem 0rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
    color: rgb(81, 81, 81);
  }

.shop-now:hover, .read-button:hover {
    cursor: pointer;
    background-color: #210043;
    color: white;
    border: 2px solid white;
}

@media (max-width: 50em) { 
    nav {
        display: none;
    }

    .first-li {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    .container {
        width: auto;
    }

      
    .dropdown {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown a {
        color: black;
        padding: 1rem;
        text-decoration: none;
        display: block;
      }

      .dropdown a:hover {
          background-color: #f1f1f1
    }

      .first-li:hover .dropdown {
        display: block;
      }
      .first-li:hover {
          background-color: #FF0079;
          color: white;
      }

    .donut-card {
        width: 220px;
    }
    .donut-card-big {
        width: 340px;
    }

  }

 @media (max-width: 37.5em) {

    .main-img {
        background-size: 160%;
        background-position: left 50% bottom 10%;
    }
    .main-text {
        padding: 4rem;
    }

    .donut-card {
        width: 400px;
    }

    .donut-card-big {
        width: 400px;
    }

}
